* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
}

.container {
    width: 345px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left {
    width: 345px;
    height: 250px;
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.right {
    padding: 20px;
}

.first {
    letter-spacing: 4px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    text-indent: -2px;
}

.right h1 {
    font-family: 'Fraunces', serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.second {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 18px;
    line-height: 1.5;
    padding: 7px;
}

.diff {
    color: hsl(158, 36%, 37%);
}

.aside {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-family: 'Montserrat';
    font-size: 14px;
    position: relative;
    top: -37px;
    left: 45%;
}

button {
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 14px;
    font-family: 'Montserrat';
    color: hsl(0, 0%, 100%);
    margin-bottom: 5px;
    transition: ease 0.4s;
}

button:hover {
    background-color: hsl(156, 53%, 7%);
    cursor: pointer;
}

.right img {
    margin-right: 5px;
}





@media screen and (min-width: 700px) {
    .container {
        width: 600px;
        flex-direction: row;
    }

    .left {
        width: 900px;
        height: 430px;
        background-image: url(images/image-product-desktop.jpg);
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0px;
    }

    .right h1 {
        padding: 0 40px 0 0px;
    }

    .aside {
        top: -37px;
        left: 50%;
    }
}